.sajjad-nav {
  display: flex;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid #8c8c8c;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #ffffff;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

.search {
  display: inline;
  background-color: transparent;
  border: 1px solid #8c8c8c;
  padding: 5px 10px;
  border-radius: 8px;
  margin: auto 10px;
}

#search-bar {
  border: none;
  font-weight: 400;
  margin: auto 10px;
  background-color: transparent;
}

#search-bar:focus {
  outline: none;
}

#search-bar::placeholder {
  color: #333;
}

.brand img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border-radius: 50%;
  vertical-align: middle;
}

.menu-icon {
  display: none;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

.accent {
  color: #444;
  margin-left: 5px;
}

.tagline img {
  height: 25px;
  width: 25px;
  margin: auto 5px;
  vertical-align: middle;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.tagline img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.nav-menu {
  max-height: 0;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #8c8c8c;
  margin: 10px;
  color: #111;
  border-radius: 0px 0px 20px 20px;
  transition: all 0.4s ease;
}

.nav-menu-open {
  max-height: 300px;
  opacity: 1;
}

.menu-item {
  border-bottom: #8c8c8c;
  padding: 10px 0px;
}
.menu-item a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .tagline {
    font-size: 0.9rem;
  }

  .brand img {
    display: none;
  }
}

/* font */

body {
  font-family: "poppins", sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.interview {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.interview .interview-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.interview .interview-left h4 {
  font-weight: 400;
}

.interview .interview-left button {
  font-weight: 600;
  height: 40px;
  width: 200px;
  margin: 20px auto;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  background-color: #555;
  transition: all 0.3s ease;
}

.interview .interview-left button:hover {
  background-color: #111;
  transform: scale(1.1);
  cursor: pointer;
}

.interview .interview-right img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 50px auto;
  transition: all 0.4s ease;
}

.interview .interview-right img:hover {
  transform: scale(1.05);
}

.product-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin: auto;
  margin-bottom: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #999;
  background-color: #f5f5f5;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
}

.star .star-icon {
  width: 20px;
  height: 20px;
}

.star {
  position: absolute;
  top: -10px;
  left: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: auto;
}

.offer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 5px;
  top: -8px;
  right: -3px;
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 8px;
  background-color: rgb(251, 97, 97);
  color: white;
}

.product-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 250px;
  height: auto;
  margin: auto;
  transition: all 0.4s ease;
}

.product img:hover {
  transform: scale(1.05);
}

.product-name {
  display: flex;
  vertical-align: middle;
}

.price {
  display: flex;
  gap: 15px;
  height: 50px;
  margin-bottom: 15px;
}

.product-price {
  color: #999;
  display: flex;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
}

.product-price-off {
  color: #555;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

a .product-btn {
  font-weight: 500;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  background-color: #555;
  color: white;
  transition: all 0.5s ease;
}

a .product-btn:hover {
  background-color: #111;
  transform: scale(1.04);
  cursor: pointer;
}

@media (max-width: 1120px) {
  #products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .interview .interview-right img {
    display: none;
  }

  #products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: auto;
    margin-bottom: 50px;
  }

  .sajjad-nav {
    display: flex;
    justify-content: center;
  }

  .home-icon,
  .cart-icon,
  .product-icon {
    display: none;
  }

  .menu-icon {
    display: inline-block;
  }

  .search {
    width: 360px;
  }

  #search-bar {
    width: 120px;
  }

  .brand {
    display: none;
  }

  .interview-left {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

@media (max-width: 480px) {
}
