/* font */

body {
  font-family: "poppins", sans-serif;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* product card */

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
}

.img-section {
  grid-area: 1 / 1 / 2 / 2;
}
.product-info {
  grid-area: 1 / 2 / 2 / 3;
}

.img-section .main-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
  height: auto;
  transition: all 0.5s ease;
}

.img-section .main-img img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.img-section .secondary-imgs {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.img-section .secondary-imgs img {
  background: rgb(181, 181, 181);
  border: 1px solid rgb(181, 181, 181);
  border-radius: 8px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.img-section .secondary-imgs img:hover {
  border: 1px solid black;
}

.img-section .details-section {
  margin: 10px;
  margin-top: 30px;
}

.img-section .details-section details {
  width: 100%;
  border: none;
  border-bottom: 2px solid gray;
  padding: 10px 0px;
  margin: 10px 0px;
}

.img-section .details-section summary {
  cursor: pointer;
  position: relative;
  list-style: none;
  transition: all 0.3s ease;
}

.img-section .details-section summary::after {
  content: "↓";
  position: absolute;
  right: 2px;
  transition: all 0.3s ease;
}

.img-section .details-section details[open] summary::after {
  content: "↓";
  position: absolute;
  right: 2px;
  transform: rotate(180deg);
}

.product-color {
  display: flex;
  gap: 25px;
}

.product-color input {
  display: none;
}

.product-color input:checked + label {
  border-color: black;
  box-shadow: 0px 4px 6px rgb(110, 110, 110);
}

.product-color .white {
  background-color: white;
  border: 1px solid rgb(172, 172, 172);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.product-color .black {
  background-color: rgb(46, 46, 46);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.product-color .gray {
  background-color: gray;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.product-color label {
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.product-color label:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.product-size {
  display: flex;
  gap: 15px;
}

.product-size input {
  display: none;
}

.product-size label {
  border: 1px solid black;
  border-radius: 10px;
  width: 30px;
  height: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
  transition: all 0.3s ease;
}

.product-size input:checked + label {
  background-color: rgb(212, 212, 212);
  box-shadow: 0px 4px 6px gray;
}

.product-size label:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-info{
    margin: 20px;
}

.product-info button {
  font-weight: bolder;
  width: 300px;
  height: 50px;
  margin: 30px 0px;
  padding: 5px;
  color: black;
  background: rgb(255, 213, 0);
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.product-info button:hover {
  transform: scale(1.04);
  cursor: pointer;
}

@media (max-width:768px) {
    .product-card{
        display: block;
    }
}