.sajjad-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

.brand {
  align-items: center;
}

.brand img {
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  margin-right: 7px;
  border-radius: 50%;
  vertical-align: middle;
}

.menu-icon {
  display: none;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

.accent {
  color: #444;
  margin-left: 5px;
  vertical-align: middle;
}

.tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.tagline a {
  height: 25px;
}

.tagline img {
  height: 25px;
  width: 25px;
  margin: auto 5px;
  align-items: center;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.quick-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.span-active {
  color: #ff8a5b;
  font-weight: 600;
  text-decoration: underline;
}

.quick-links a {
  text-decoration: none;
  color: black;
  transition: all 0.4s ease;
}

.quick-links a:hover {
  transform: scale(1.1);
}

.tagline img:hover {
  transform: scale(1.1);
  opacity: 1;
}

@media (max-width: 768px) {
  .tagline {
    font-size: 0.9rem;
  }

  .brand img {
    display: none;
  }
}

/* font */

body {
  font-family: "poppins", sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: #ffffff;
  scroll-behavior: smooth;
  margin: 0px;
}

.interview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  background-color: #f0f0f0;
  gap: 30px;
}

.interview .interview-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
}

.interview .interview-left h3 {
  margin-top: 0.1rem;
}

.interview .interview-left h4 {
  font-weight: 400;
  margin-top: 1.5rem;
  font-size: 14px;
}

.hero-btns {
  display: flex;
  gap: 20px;
  margin-top: 1.5rem;
}

.shop-now-btn {
  width: 150px;
  height: 40px;
  background-color: #ff8a5b;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.shop-now-btn:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.collections-btn {
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  color: #111;
  border: none;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.collections-btn:hover {
  background-color: #ff8a5b;
  transform: scale(1.03);
  color: #ffffff;
  cursor: pointer;
}

.interview .interview-right img {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin: auto;
}

.titles {
  margin: 40px 30px;
}

.products-category {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin: 20px;
}

.category-cart img {
  width: 130px;
  height: 150px;
  transition: all 0.4s ease;
}

.category-cart img:hover {
  transform: scale(1.05);
}

a {
  color: #111;
  text-decoration: none;
}

.category-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  margin: auto;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
}

.category-cart span {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

.product-filters {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px 30px;
}

.product-filters-name {
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
  border-radius: 8px;
}

.active {
  background-color: #3ab4ba;
  color: #ffffff;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.wrapper {
  overflow: hidden;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  width: 280px;
  height: 280px;
}

.product .product-img {
  width: 280px;
  height: 280px;
  transition: all 0.4s ease;
}

.product .product-img:hover {
  transform: scale(1.05);
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  margin-top: 15px;
}

.product-price {
  font-size: 14px;
  font-weight: 300;
  margin: 5px;
}

.stars {
  display: flex;
  align-items: center;
}

.stars img {
  width: 20px;
  height: auto;
}

.product a {
  text-decoration: none;
  width: 150px;
}

.product-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 150px;
  margin: 20px 0px;
  height: 40px;
  color: #ffffff;
  background-color: #3ab4ba;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.product-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.summer-sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3ab4ba;
  margin: 20px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  height: 80px;
  color: #ffffff;
}

.summer-sale-left {
  display: flex;
  flex-direction: column;
  margin: auto 30px;
}

.summer-sale-left .title {
  font-size: 18px;
  font-weight: bolder;
}

.summer-sale-left .about {
  font-size: 14px;
  margin-top: 1rem;
  font-weight: 400;
}

.summer-sale-right button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #ff8a5b;
  transition: all 0.4s ease;
  margin: auto 30px;
}

.summer-sale-right button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.comments {
  display: flex;
  gap: 20px;
  padding: 30px 20px;
  background-color: #f0f0f0;
}

.slider {
  display: flex;
  overflow: hidden;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 375px;
  flex-shrink: unset;
  text-align: center;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 10px;
}

.review,
.what-purchase {
  margin: 10px 30px;
}

.what-purchase {
  color: #666;
  font-weight: 300;
  font-size: 14px;
}

.country,
.review {
  color: #333;
  font-weight: 300;
}

.comment-stars span {
  margin-left: 5px;
  vertical-align: middle;
}

.comment .comment-img {
  width: 80px;
  height: 80px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.comment-stars {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.comment-stars img {
  width: 20px;
  height: 20px;
}

.slider-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  gap: 5px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.slider-btns .slider-dots {
  width: 10px;
  height: 10px;
  opacity: 0.5;
}

.dot-active {
  border: 1px solid #111;
  border-radius: 50%;
}

.next-prev {
  margin: auto 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.blog-carts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  margin-bottom: 50px;
}

.blog-cart {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  padding: 20px;
  margin: auto 20px;
  height: 580px;
}

.blog-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.blog-cart a {
  color: #3ab4ba;
  width: 120px;
  height: 20px;
  margin: 10px 0px;
}

.blog-date {
  color: #666;
  margin: 7px 0pc;
  font-weight: 300;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .interview {
    display: block;
  }

  .interview-left {
    margin-bottom: 70px;
  }

  .interview-left h1 {
    margin-top: 50px;
  }

  .interview .interview-right img {
    height: 60%;
  }

  .products-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }

  .product {
    margin: auto;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    padding: 20px;
  }

  .comment {
    width: 365px;
  }

  .summer-sale {
    width: 83%;
    margin: 50px auto;
  }

  .blog-carts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-cart {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .sajjad-nav {
    display: flex;
    justify-content: space-between;
  }

  .person-icon,
  .cart-icon {
    display: none;
  }

  .sajjad-nav a span {
    display: none;
  }

  .logo {
    font-size: 16px;
  }

  .menu-icon {
    display: inline-block;
  }

  .interview .interview-left {
    padding: 0px 20px;
  }

  .interview-right img {
    aspect-ratio: 1.4;
  }

  .hero-btns {
    display: flex;
    justify-content: start;
    margin-top: 30px;
  }

  .products-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 20px;
    gap: 20px;
  }

  .category-cart {
    margin: auto;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .comment {
    width: 330px;
  }

  .blog-carts {
    grid-template-columns: repeat(2, 1fr);
  }

  .summer-sale {
    display: none;
  }
}

@media (max-width: 480px) {
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-carts {
    grid-template-columns: repeat(1, 1fr);
  }


  .titles {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .comment {
    width: 350px;
  }
}

@media (max-width: 360px) {
  .comment {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .comment {
    width: 330px;
  }
}
