/* font */

body {
  font-family: "poppins", sans-serif;
  user-select: none;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* nav */

.sajjad-nav {
  display: flex;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid #8c8c8c;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #ffffff;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

.search {
  display: inline;
  background-color: transparent;
  border: 1px solid #8c8c8c;
  padding: 5px 10px;
  border-radius: 8px;
  margin: auto 10px;
}

#search-bar {
  border: none;
  font-weight: 400;
  margin: auto 10px;
  background-color: transparent;
}

#search-bar:focus {
  outline: none;
}

#search-bar::placeholder {
  color: #333;
}

.brand img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border-radius: 50%;
  vertical-align: middle;
}

.menu-icon {
  display: none;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

.accent {
  color: #444;
  margin-left: 5px;
}

.tagline img {
  height: 25px;
  width: 25px;
  margin: auto 5px;
  vertical-align: middle;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.tagline img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.nav-menu {
  max-height: 0;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #8c8c8c;
  margin: 10px;
  color: #111;
  border-radius: 0px 0px 20px 20px;
  transition: all 0.4s ease;
}

.nav-menu-open {
  max-height: 300px;
  opacity: 1;
}

.menu-item {
  border-bottom: #8c8c8c;
  padding: 10px 0px;
}
.menu-item a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .tagline {
    font-size: 0.9rem;
  }

  .brand img {
    display: none;
  }
}

/* product card */

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
  padding: 20px;
}

.img-section {
  grid-area: 1 / 1 / 2 / 2;
}
.product-info {
  grid-area: 1 / 2 / 2 / 3;
}

.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img button {
  width: 40px;
  height: 40px;
  border: 1px solid #636363;
  border-radius: 50%;
  background-color: #ffffff;
  color: black;
  transition: all 0.5s ease;
}

.main-img button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #e3e3e3;
}

.img-section .main-img .active {
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 45%;
  height: auto;
  transition: all 0.5s ease;
}

.img-section .main-img .active:hover {
  transform: scale(1.03);
  border: none;
}

.product-color {
  display: flex;
  gap: 25px;
}

.product-color input {
  display: none;
}

.product-color input:checked + label {
  border-color: black;
  box-shadow: 0px 3px 3px rgb(110, 110, 110);
}

.product-color .white {
  background-color: white;
  border: 1px solid rgb(172, 172, 172);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.product-color .black {
  background-color: rgb(46, 46, 46);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.product-color .gray {
  background-color: gray;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.product-color label {
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.product-color label:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.product-color-title {
  margin-top: 50px;
}

.product-size-title {
  margin-top: 50px;
}

.product-size {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.product-size input {
  display: none;
}

.product-size label {
  border: 1px solid black;
  border-radius: 10px;
  width: 30px;
  height: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
  transition: all 0.3s ease;
}

.product-size input:checked + label {
  background-color: rgb(227, 227, 227);
  box-shadow: 0px 3px 3px rgb(171, 171, 171);
}

.product-size label:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-info {
  margin: 20px 30px;
}

.product-info h5 {
  font-weight: 400;
}

.product-info h3 {
  font-weight: 600;
}

.product-info button {
  font-weight: bolder;
  width: 250px;
  height: 40px;
  margin: 30px 0px;
  padding: 5px;
  color: #444;
  background: #f2f2f2;
  border: 1px solid #999;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.product-info button:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  margin: auto;
  margin-right: 15px;
  margin-left: 60px;
  border: 1px solid #888;
  border-radius: 8px;
}

.decrease {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  padding: 0px 10px;
  cursor: pointer;
}

.increase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  padding: 0px 10px;
  cursor: pointer;
}

.quantityNum {
  text-align: center;
  font-weight: bolder;
  background-color: #f4f4f4;
  width: 15px;
  height: auto;
  padding: 5px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 47px;
  border-left: 1px solid #777;
}

.hide {
  display: none;
}

details {
  width: 90%;
  border: none;
  border-bottom: 1px solid #999;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
}

summary {
  cursor: pointer;
  position: relative;
  list-style: none;
  transition: all 0.3s ease;
}

summary::after {
  content: "+";
  position: absolute;
  right: 2px;
  transition: all 0.3s ease;
}

details[open] summary::after {
  content: "-";
  position: absolute;
  right: 2px;
  transform: rotate(180deg);
}

.comments {
  margin: 70px auto;
}

.addComment {
  display: flex;
  border: 1.5px solid #444;
  border-radius: 10px;
  width: 92%;
  height: auto;
  padding: 20px;
  flex-direction: column;
  margin: 10px auto;
}

.addComment input:last-child {
  border-color: transparent;
}

.comment-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-count-title {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addComment input {
  width: 98%;
  height: 40px;
  padding: 0px 10px;
  margin: 10px auto;
  border: 1px solid #999;
  border-radius: 10px;
}

.addComment input::placeholder {
  padding: 10px;
  color: #999;
}

.addComment input:focus {
  outline: none;
}

.addComment input:focus::placeholder {
  color: transparent;
}

.addComment button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  color: #444;
  font-size: 17px;
  font-weight: 400;
  margin: auto;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.addComment .add-img-label {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  color: #444;
  background-color: #f2f2f2;
  transition: all 0.4s ease;
}

.addComment .add-img-label:hover {
  transform: scale(1.03);
}

.select-img {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.file-select {
  display: flex;
  gap: 20px;
  align-items: center;
}

.warning {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  color: rgb(251, 78, 78);
}

.selected-file-count {
  font-weight: 200;
  font-size: 14px;
}

.addComment .comment-img-input {
  display: none;
}

.add-comment-bottom {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-comment-bottom input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 0px 10px;
  vertical-align: middle;
  cursor: pointer;
}

.recommend-input {
  width: 100%;
}

.recommend-input label {
  font-weight: 300;
  font-size: 14px;
}

.add-btn {
  width: 100%;
}

.addComment button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.comment {
  border: 1.5px solid #444;
  border-radius: 10px;
  margin: 20px 30px;
  padding: 20px 30px;
}

.comment-top .comment-top-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-name {
  font-weight: 600;
  font-size: 18px;
}

.user-verified {
  font-weight: 300;
  font-size: 14px;
}

.comment-top .comment-top-left .name {
  display: flex;
  flex-direction: column;
}

.comment-top .comment-top-left .user-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #777;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.comment-top-right {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  font-weight: 200;
  font-size: 12px;
}

.comment-text {
  display: flex;
  flex-direction: column;
}

.comment-text .title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.comment-text .review-text {
  font-weight: 300;
  font-size: 14px;
}

.comment-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  margin-bottom: 0px;
}

.comment-img {
  display: flex;
  gap: 10px;
  vertical-align: middle;
  align-items: center;
}

.recommend {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 200;
  font-size: 12px;
}

.recommend img {
  width: 25px;
  height: 25px;
}

.comment-img img {
  width: 60px;
  height: 50px;
  border: 1px solid #555;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .img-section .main-img img {
    width: 100%;
  }

  .quantity {
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .tagline {
    font-size: 0.9rem;
  }

  .select-img {
    display: block;
  }

  .warning {
    margin: 10px 0px;
  }

  .addComment input {
    width: 94%;
  }

  .brand img {
    display: none;
  }

  .product-card {
    display: block;
  }

  .product-info button {
    width: 190px;
  }

  .price {
    padding: 0px 10px;
  }

  .addComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
  }

  .commentName {
    width: 95%;
  }

  .commentText {
    width: 95%;
  }

  .sajjad-nav {
    display: flex;
    justify-content: center;
  }

  .home-icon,
  .cart-icon,
  .product-icon {
    display: none;
  }

  .menu-icon {
    display: inline-block;
  }

  .search {
    width: 360px;
  }

  #search-bar {
    width: 120px;
  }

  .brand {
    display: none;
  }

  .pScore {
    width: 95%;
  }

  .add-comment-bottom {
    margin: auto;
  }

  .addCommentBtn {
    width: 100%;
  }

  .product-info {
    margin: 70px 10px;
  }

  .comment-bottom {
    display: block;
  }

  .comment-bottom .comment-img {
    margin-bottom: 20px;
  }

  .addComment {
    width: 80%;
  }

  .comment {
    padding: 20px;
  }

  .comment-top {
    display: block;
    padding: 0px;
    margin: auto;
  }
  .add-comment-bottom {
    display: block;
  }

  .add-comment-bottom button {
    margin-top: 20px;
  }
}
